.TrustedBy{
    max-width: 915px;
    width:100%;
    margin-bottom: 13vh;

    p{
        color: #667085;
    }

    .companies{
        background-color: #F6F6F6;

        img{
        height: 48px;
        }
    }
}


@media screen and (max-width:992px) {
    .TrustedBy{
    width:100%;
}
    .companies{
        img{
        height: 24px !important;
        }
    }
}
