.card {
    max-width: 345px;
    width: 100%;
    min-height: 334px;
    padding: 0 32px;
    border-radius: 20px !important;
    background-color: #DEDCDB80 !important;

    .card-img {
        width: 130px;
        margin: 32px auto 8px !important;
    }

    .card-name {
        font-size: 18px;
        margin-bottom: 27px;
    }

    .card-desc {
        font-size: 14px;
    }
}