.navbar .container-fluid {
    padding: 4vh 12.5vw;
}

.navbar .nav-link {
    color: var(--textsColor) !important;
    transition: color 0.2s ease-in-out;
    font-size: 18px;
}


.navbar .nav-link:hover {
    color: var(--secondaryColor) !important;
}

.navbar .navbar-brand {
    color: var(--textsColor) !important;
}

.navbar .navbar-toggler:focus {
    box-shadow: none;
}


@media screen and (max-width:992px) {
    .navbar .container-fluid {
        padding: 48px 24px;
    }

    .navbar .navbar-toggler-icon {
        width: 24px;
        height: 24px;
    }

    .navbar .navbar-brand {
        font-size: 14px;
    }
}