.custom-carousel {
    display: flex;
    flex-direction: column;
}

.custom-carousel .carousel-inner {
    order: 1;
    overflow: visible !important;
}


.card-wrapper {
        flex: 0 0 33.333333%;
        padding: 0 12px;
}


.slider-track {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
}

.testimonials-title{
    max-width: 435px;
    margin-bottom: 39px;
}

.custom-carousel .carousel-indicators {
    order: 2; 
    position: relative !important; 
    bottom: 0; 
    margin-top: 40px; 
    margin-bottom: 10px;
    gap:24px;
}

.custom-carousel .carousel-indicators [data-bs-target] {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    border: 3px solid var(--secondaryColor);
    background-color: transparent;
    opacity: 1;
}

.custom-carousel .carousel-indicators .active {
    width: 24px;
    height: 24px;
    background-color: var(--secondaryColor) !important;
    border: none;
}



@media (max-width: 992px) {
    .card-wrapper {
        flex: 0 0 100%;
    }
    .custom-carousel .carousel-indicators {
    max-width: 184px;
    width: 100%;
    margin: 40px auto 10px;
    gap:0px;
    justify-content: space-between;
}
}

